beautifulsoup4==4.13.3
matplotlib==3.10.1
nltk==3.9.1
pandas==2.2.3
requests==2.32.3
scikit_learn==1.6.1
torch==2.5.1
transformers==4.49.0
wordcloud==1.9.4
fastapi==0.110.0
uvicorn==0.29.0
mlflow==2.21.3
bertopic==0.17.0
prometheus_client==0.20.0
